ErrorDocument 404 https://inretinacenter.com/index.html
RewriteEngine On
RewriteCond %{HTTP_HOST} ^inretinacenter\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://inretinacenter.com/$1 [R,L]
